.topic--subject--main--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  width: 140px;
}

.topic--subject--main--container--name {
  color: white;
  text-align: center;
  font-family: "proximanova-regular";
  font-style: italic;
  font-size: 18px;
}

.topic--subject--main--container--icon {
  color: white;
}
