.route--sidebar--main--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 0.5px solid rgb(159, 159, 159);
}

.route--sidebar--main--container--icon {
  color: white;
  height: 20px;
  width: 60px;
}

.route--sidebar--main--container--description {
  font-family: "proximanova-regular";
  font-style: italic;
  color: white;
  text-align: center;
  font-size: 22px;
  width: 120px;
  text-align: left;
}
