.class--course--main--container {
  padding: 5px 0;
  margin-bottom: 10px;
  width: 100%;
}

.class--course--main--container--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.class--course--main--container--header--date {
  font-family: "proximanova-bold";
}

.class--course--main--container--header--schedule {
  width: 70px;
}

.class--course--main--container--class--number {
  font-family: "proximanova-regular";
  font-style: italic;
  padding: 3px 0;
}

.class--course--main--container--topics {
  width: 100%;
}

.class--course--main--container--confirm {
  text-align: end;
  padding: 3px 0;
}
